<!-- Start FAQ Area -->
<section class="faq-area ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="faq-accordion">
                    <h2>{{ 'Perguntas Frequentes' |_ }} <span>({{ 'FAQ\'s' |_ }})</span></h2>

                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)">
                                <i class="bx bx-plus"></i>
                                {{ 'Quais acessos tenho direito no plano Gratuito?' |_ }}
                            </a>

                            <p class="accordion-content show">
                                {{ 'O plano Gratuito dá direito de uso a todos os módulos, por tempo determinado nos termos de uso do sistema para pessoas físicas.' |_ }}
                            </p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="bx bx-plus"></i>
                                {{ 'Quais acessos tenho direito durante o período de avaliação?' |_ }}
                            </a>

                            <p class="accordion-content">
                                {{ 'O período de avaliação permite uso ilimitado do sistema, por até 60 dias.' |_ }}
                            </p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="bx bx-plus"></i>
                                {{ 'Como posso cancelar meu plano?' |_ }}
                            </a>

                            <p class="accordion-content">
                                {{ 'Nas configurações do sistema, em definições do plano, clique em cancelar com 30 dias de antecedência da renovação do contrato. No plano anual, 30 dias antes da renovação contratual. Caso não haja pagamento (inadimplência por período superior a 45 dias, os acessos de sua empresa serão bloqueados).' |_ }}
                            </p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="bx bx-plus"></i>
                                {{ 'Posso fazer pagamento do sistema Dealix via boleto bancário?' |_ }}
                            </a>

                            <p class="accordion-content">
                                {{ 'Sim, o pagamento pode ser via boleto ou cartão de crédito.' |_ }}
                            </p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="bx bx-plus"></i>
                                {{ 'Como faço para ativar o modo Auditoria e otimizar mais ainda meus ganhos?' |_ }}
                            </a>

                            <p class="accordion-content">
                                {{ 'Entre em contato conosco.' |_ }}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="faq-image">
                    <img src="{{ 'assets/img/faq-img1.png' | theme }}" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End FAQ Area -->
