.navbar-brand{
    width: 11.313rem;
}

.navbar{
    height: 100%;
    min-height: 13.125rem;

    @include media-breakpoint-down(md) {
        min-height: 7.125rem;
    }
}

.navbar-nav .nav-link{
    font-size: 0.938rem;
    font-weight: 500;
    padding-left: 0.9rem !important;
    padding-right:  0.9rem !important;
}

.nav-item .btn{
    font-size: 0.813rem;
    margin-left: 0.9rem !important;
    margin-right:  0.9rem !important;
    font-weight: 600;
}

.nav-item select{
    border: 0;
    padding: 0;
    padding-left: 0.9rem !important;
    font-size: 0.938rem;
    font-weight: 600;
}
