<!-- Header -->
<div class="header mt-md-5">
    <div class="header-body">
        <div class="row align-items-center">
            <div class="col">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                    <?= trans($this->moduleTitle) ?>
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                    <?= trans($this->pageTitle) ?>
                </h1>

            </div>
            <div class="col-auto">

                <?php if($headerActions = Block::placeholder('header_actions')) : ?>
                    <?= $headerActions ?>
                <?php endif ?>

            </div>
        </div> <!-- / .row -->
        <div class="row align-items-center">
            <div class="col">

                <!-- Nav -->
                <?php if($headerNav = Block::placeholder('header_nav')) : ?>
                    <?= $headerNav ?>
                <?php endif ?>

            </div>
        </div>
    </div>
</div>
