<div class="col-lg-4 col-md-6">
    <div class="single-blog-post">
        <div class="post-image">
            <a href="#"><img src="{{ 'assets/img/blog-image/1.jpg' | theme }}" alt="image"></a>

            <div class="date"><i class='bx bx-calendar'></i> Oct 14, 2019</div>
        </div>

        <div class="post-content">
            <h3><a href="#">50 world-changing people -- We lost in the 2010s</a></h3>

            <div class="post-info">
                <div class="post-by">
                    <img src="{{ 'assets/img/author-image/1.jpg' | theme }}" alt="image">

                    <h6>Sarah Taylor</h6>
                </div>

                <div class="details-btn">
                    <a href="#"><i class="bx bx-right-arrow-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>