.fthin{
    font-weight: 100;
}

.fextra-light{
    font-weight: 200;
}

.flight{
    font-weight: 300;
}

.fregular{
    font-weight: 400;
}

.fmedium{
    font-weight: 500;
}

.fsemi-bold{
    font-weight: 600;
}

.fbold{
    font-weight: 700;
}

.fextra-bold{
    font-weight: 800;
}

.fblack{
    font-weight: 900;
}