// Grayscale Text Utilities

.text-xs {
  font-size: .7rem;
}

.text-lg {
  font-size: 1.2rem;
}

.text-gray-100 {
  color: $gray-100 !important;
}

.text-gray-200 {
  color: $gray-200 !important;
}

.text-gray-300 {
  color: $gray-300 !important;
}

.text-gray-400 {
  color: $gray-400 !important;
}

.text-gray-500 {
  color: $gray-500 !important;
}

.text-gray-600 {
  color: $gray-600 !important;
}

.text-gray-700 {
  color: $gray-700 !important;
}

.text-gray-800 {
  color: $gray-800 !important;
}

.text-gray-900 {
  color: $gray-900 !important;
}

.text-cinza-100{
    color: $cinza-100 !important;
}

.text-cinza-200{
  color: $cinza-200 !important;
}

.text-cinza-300{
  color: $cinza-300 !important;
}

.text-black{
  color: $black !important;
}


.h68 {
  font-size: 4.25rem;
}

.h61 {
  font-size: 3.813rem;
  line-height: 5rem;
}

.h52 {
  font-size: 3.25rem;
  line-height: 5.5rem;
}

.h47 {
  font-size: 2.938rem;
  line-height: 4.125rem;
}

.h43 {
  font-size: 2.688rem;
}

.h42 {
  font-size: 2.625rem;
  line-height: 3.938rem;
}

.h40 {
  font-size: 2.5rem;
}

.h35 {
  font-size: 2.188rem;
  line-height: 4.563rem;
}

.h32 {
  font-size: 2rem;
}

.h31 {
  font-size: 1.938rem;
  line-height: 2.688rem;
}

.h30 {
  font-size: 1.875rem;
}

.h29 {
  font-size: 1.813rem;
}

.h22 {
  font-size: 1.375rem;
}
.h24 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.h23 {
  font-size: 1.438rem;
}
.h20 {
  font-size: 1.25rem;
}
.h18 {
  font-size: 1.125rem;
  line-height: 1.688rem;
}
.h17 {
  font-size: 1.063rem;
  line-height: 2.6rem;
}
.h16 {
  font-size: 1rem;
}
.h15 {
  font-size: 0.938rem;
}
.h14 {
  font-size: 0.875rem;
}

.h13 {
  font-size: 0.813rem;
  line-height: 1.625rem;
}

.text-cinza-100{
  color: $cinza-100;
}

.text-cinza-200{
  color: $cinza-200;
}

.text-cinza-300{
  color: $cinza-300;
}

.text-extra{
  color: $extra;
}

.text-extra2{
  color: $indigo;
}

.text-extra3{
  color: #FF7171;
}

.bg-extra{
  background-color: $extra;
}

.bg-cinza2{
  background-color: #E9E9E9;
}

.bg-extra3{
  background-color: $indigo;
}

.bg-extra4{
  background-color: #FF7171;
}


.btn-white{
  background-color: $white;
  border-radius: 6px;
  width: 18.5rem;
  height: 3.813rem;
}